.comments
  = will_paginate @comments, previous_label: 'Предыдущая',                |
                  next_label: 'Следующая', params: { anchor: "comments" } |
  = render "shared/flash"
  = render @comments 
  = will_paginate @comments, previous_label: 'Предыдущая',                |
                  next_label: 'Следующая', params: { anchor: "comments" } |