%p Войдите что бы оставлять комментарии
= link_to image_tag("omniauth_icons/facebook.png"), "/auth/facebook"
= link_to image_tag("omniauth_icons/google.png"), "/auth/google_oauth2"
= link_to image_tag("omniauth_icons/vk.png"), "/auth/vkontakte"
= link_to image_tag("omniauth_icons/github.png"), "/auth/github"
