/* menu */
.menu
  float: left 
  width: 256px
  height: 520px
  margin-top: -7px
  ul
    margin-left: 0
    padding-left: 0
  li
    list-style-type: none
  a
    display: inline-block
    height: 52px
    width: 254px
    
.news:hover  
  background: url('/assets/menu/news_out.png')

.desc:hover 
  background: url('/assets/menu/desc_out.png')

.rules:hover 
  background: url('/assets/menu/rules_out.png')

.map:hover 
  background: url('/assets/menu/map_out.png')

.policy:hover
  background: url('/assets/menu/policy_out.png')

.planets:hover 
  background: url('/assets/menu/planets_out.png')

.ships:hover 
  background: url('/assets/menu/ships_out.png')

.tech:hover 
  background: url('/assets/menu/tech_out.png')

.files:hover 
  background: url('/assets/menu/files_out.png')

.fb:hover 
  background: url('/assets/menu/fb_out.png')
