$myblue: #29297B

.messages
  margin-left: 0
  padding-left: 0
  margin-top: 50px
  padding-right: 10px
  li
    list-style-type: none
    margin-bottom: 50px
    .message_created
      text-align: right
    
img
  vertical-align: middle

.message_title
  text-align: center
  margin-bottom: -33px
  margin-right: 250px
  a
    font-size: 30px
      
.message_content
  padding: 20px 0 

.message_footer
  margin-bottom: 5px
  
.more
  float: left
  a
    color: silver
    text-decoration: underline

.comments_count
  text-align: right   
  
.comments_count, .message_created, .comment_title
  color: silver

@mixin border_side
  width: 228px
  height: 16px
    
.left_border
  @include border_side
  float: left
  margin-left: -20px
  background: url('/assets/message/border_left.png')
 
.right_border
  @include border_side
  float: right
  margin-right: -10px
  background: url('/assets/message/border_right.png')
  
.center_border
  height: 16px
  margin: 0 200px
  background: url('/assets/message/border_element.png')
  
.new_comment
  float: right
  margin-right: 50px

.message_panel
  height: 200px
  h2
    margin-top: 80px
  
.comment
  display: inline-block
  padding: 10px
  margin: 10px 0
  border: 1 outset $myblue
  border-radius: 10px
  background-color: rgba(50, 60, 82, 0.8)
 
.comment_date
  margin-left: 30px