.footer
  .left_footer
  .right_footer
  .center_footer
    .left_link
      Все права на символику принадлежат компании
      = link_to 'StarDock', "http://www.stardock.com/", target: '_tab' 
    .right_link= link_to 'Контакты', contacts_path